<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ /assets/images/blackbug.png | border-radius: 50% }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ page.title }}</title>
    {% include head-custom.html %}
  </head>



  <body>

    <header>
      <div class="container">
        <a id="a-title" href="https://github.com/major2000">
          <h1>{{ page.head }}</h1>
        </a>
        <h2>{{ page.description }}</h2>

        <section id="downloads">
          <a href="/" title="home" class="btn btn-home"><span class="icon"></span>Home</a>

          <a href="/pages/about.html" title="About me" class="btn btn-about"><span class="icon"></span>About</a>  

          <a href="https://github.com/major2000" title="GitHub" class="btn btn-github"><span class="icon"></span>GitHub</a>

          <a href="https://twitter.com/edgarmajor3" title="Twitter" class="btn btn-twitter"><span class="icon"></span>Twitter</a>

          <a href="mailto:edgarnyandoro@gmail.com" title="Email" class="btn btn-email"><span class="icon"></span>Email</a>

          <a href="https://www.linkedin.com/in/edgar-nyandoro-9018a91b6/" title="Linkedin" class="btn btn-linkedin"><span class="icon"></span>Linkedin</a>

          <a href="" title="phone" class="btn btn-phone"><span class="icon"></span>Mobile: +255 788 137 978</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <p style="text-align: center">
        Edgar Nyandoro <br>
        © 2022  
        
      </p>
    </footer>


  </body>
</html>